body{
	background-color:#ddd; 
  font-family: arial;
}
.table-cont .header > span.gd{
      pointer-events: none;
}
.table-cont{
	text-align: center;
	background-color: #fff;
	width: 800px;
	margin: 30px auto 10px;
	box-shadow: 0 0px 10px -3px #000;
	position: relative;
}
.table-cont:before,.table-cont:after{
	content: '';
    z-index: -1;
    position: absolute;
    height: 5%;
    width: 20%;
    bottom: 20px;
    left: 6px;
    box-shadow: 0 22px 15px 0 #777;
    transform: rotate(-5deg);
    background: #777;
}
.table-cont:after{
	left: auto;
	right: 6px;
    transform: rotate(5deg);
}
.table-cont .header > span{
	padding: 30px 30px;
    color: #1ab5eb;
    font-size: 28px;
    display: inline-block;
    text-transform: uppercase;
    min-width: 350px;
	font-weight: bolder;
	cursor: pointer;
}
.table-cont .header{
	box-shadow: 0 5px 20px -9px #ccc
	margin-bottom: 10px;
	position: relative;
}
.table-cont .header:before{
	content: '';
    background: url(http://creatorvisions.com/img/calendar-spiral.png) top repeat-x;
    position: absolute;;
    width: 100%;
    height: 23px;
    top: -23px;
    left: 0;
}
.prev , .next{
	border: none;
    height: 50px;
    background: transparent;
}
.prev:focus,.next:focus{
	outline: none;
}
.prev:before{
	content: '';
    border: solid 9px;
    border-color: transparent #000 transparent transparent;
    display: inline-block;
}
.next:after{
	content: '';
    border: solid 9px;
    border-color: transparent transparent transparent #000;
    display: inline-block;
}
table{
	margin-bottom: 0 !important;
}
tbody tr td{
	border:none !important;
	padding: 20px !important;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	color: #aaa;
	width: 9%;
	margin: 0 -2px;
}
tbody tr td.nil{
	color: #eee;
}
tbody tr td.nil:hover{
	color: #eee;
	background-color: #fff;
}
tbody tr td:hover{
	color: #fff;
	background-color: #ccc;
	transition: all .5s;
}
thead tr td{
	width: 14%;
	margin: 0 -2px;
	color: #ccc;
	text-align: center;
	border-bottom: solid #ccc;
	padding-bottom:10px !important;
}
.high{
	box-shadow: inset 0 0 20px -3px #ccc;
	color: #1ab5eb;
	font-weight: bold
}
table,thead,tbody,th,tr,td{
	display: inline-block;
}
table,thead,tbody,th,tr{
	width: 100%;
}
.go-to{
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.7);
	display: none;
	padding: 5%;
	transition: cubic-bezier(.87,-.41,.19,1.44) all .5s;
}
.hide{
	display: block !important;
}
.sel-year,.sel-month,.sel-date,.go{
	width: 250px;
    height: 65px;
    text-align: center;
    border: none;
    font-size: 30px;
    text-transform: uppercase;
    padding: 0 30px;
}
.sel-year{
	
}
.sel-month{
	width: 150px;
}
.sel-date{
	width: 120px;
}
.go{
	background: #1ab5eb;
	color: #fff;
	font-weight: bolder;
}
p.close{
	font-size: 30px;
	font-weight: bolder;
	color: #fff;
	background: #1ab5eb;
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top:15px;
	right: 15px;
	border-radius: 50%;
	opacity: 1;
	transition: cubic-bezier(.87,-.41,.19,1.44) all .5s;
}
p.close:hover{
	opacity: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: 25px;
    top:25px;
    background: #fff;
}
.disab:hover{
	color: #fff;
}
/*@media (max-width: 767px){
	.table-cont{
		width: 100%;
	}
	tbody tr td{
		width: 100%;
	}
	.prev{
		float: left;
		height: auto;
	}
	.next{
		float:right;
		height: auto;
	}
	.header{

	}
	.header > span{
		padding: 0 !important;
		display: inline !important;
		font-size: 16px !important;
	}
	.disab{
		display: none;
	}
}*/